Source: yq
Section: devel
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Maintainer: Bjoern Michaelsen <bjoern.michaelsen@libreoffice.org>
Homepage: https://github.com/mikefarah/yq.git
Vcs-Browser: https://github.com/mikefarah/yq.git
Vcs-Git: https://github.com/mikefarah/yq.git

Package: yq
Architecture: any
Built-Using:
Depends:
Description: a lightweight and portable command-line YAML processor
 Yq aims to be the [jq](https://github.com/stedolan/jq) or sed of yaml files.
